.features {
  .feature-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.15;
    margin-bottom: 10px;
  }

  .feature-descr {
    color: var(--fontcolor-projects-type);
    font-size: 14px;
    line-height: 1.72;
  }
}
